[Unit]
Description=OCR DLA App

[Service]
WorkingDirectory=/home/root/ocr_mmr_dla
ExecStart=/bin/bash run_app.sh
Restart=always
RestartSec=1
User=root

[Install]
WantedBy=multi-user.target